/* Universal body tag */

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}


/* Page specific body tags */

#homePage {
    background-image: url("./Assets/homepage_background.jpg");
}

#meditationPage,
#mystudioPage {
    background-image: url("./Assets/mystudio_background.jpg");
    /* background-image: url("./Assets/meditation_background.jpg"); -- Potential alternate background for meditation page */
}

.zipPlaceholder {
    border: 1px solid yellow;
    color: white;
    background-color: black;
    display: inline-block;

}