body {
    /* Universal body tag for background images */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}


/* Page specific body tags */

#homePage {
    background-image: url("./Assets/homepage_background.jpg");
}

#meditationPage,
#mystudioPage {
    background-image: url("./Assets/mystudio_background.jpg");
    /* background-image: url("./Assets/meditation_background.jpg"); -- Potential alternate background for meditation page */
}

.hero.is-black {
    /* Setting navbar to be partially transparent */
    opacity: 0.8;
}

#userSearch {
    width: 432px;
}

.btn-primary {}

#zipSearch {
    width: 432px;
}

.zipPlaceholder {
    border: 1px solid yellow;
    color: white;
    background-color: black;
    display: inline-block;
}

.song {
    justify-content: center;
}