body {
    /* Universal body tag for background images */
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: auto;
}


/* Page specific body tags */

#homePage {
    background: url("./Assets/homepage_background.jpg") no-repeat center center fixed;
}

#meditationPage,
#mystudioPage {
    background-image: url("./Assets/mystudio_background.jpg");
    /* background-image: url("./Assets/meditation_background.jpg"); -- Potential alternate background for meditation page */
}

.hero.is-black {
    /* Setting navbar to be partially transparent */
    background-color: rgba(0, 0, 0, 0.8);
}

#userSearch,
#zipSearch {
    /* format width of search bars */
    width: 432px;
}

.zipPlaceholder {
    /* style the display of locatons pulled into the zipPlaceholder from yelp API */
    background-color: black;
    border: 1px solid goldenrod;
    color: white;
    display: inline-block;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    position: relative;
}


/* styling placeholder that holds poses which are pulled from youTube API */

.posePlaceholder,
.songPlaceholder {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}


/* Style the iframe to fit in the container div with full height and width */

.videoiFrame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


/* Style the meditation instructions */

.meditation {
    background-color: rgb(3, 3, 2);
    text-emphasis: bold;
    border-style: solid;
    border-color: rgb(78, 77, 23);
    border-width: 15px;
    padding: 1%;
    list-style-type: none;
    color: goldenrod;
}